@import "src/styles.scss";


$lawlist-width: 300px;


.vistoggle {
  transition: transform .3s;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding:10px;
  transform: rotate(0deg);

  &.open {
    transform: rotate(180deg);
    .line {
      background-color: white;
    }
  }

  .line1, .line2, .line3 {
    transition: background-color .3s;
    height: 5px;
    width: 30px;
    margin: 5px;
    background-color: rgba(0,0,0,.7);
  }
}

.vistoggle:hover +.coolthing  {
  opacity: 1;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
}

.coolthing{
  transition: transform .3s, opacity .2s;
  width: 200px;
  height: 200px;
  transform: rotate(45deg) translate(-85%, 0%);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: white;
  opacity: .8;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  &.active{
    transform: rotate(90deg) translate(-120%, 0%);
    opacity: 0 !important;
  }
}



.lawlist {
  color: white;
  font-family: Roboto;
  .contentwrapper {
    transition: transform .3s;
    background-color: $color-background-light;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);

    width: $lawlist-width;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transform: translateX(($lawlist-width + 20) * -1);
    &.open {
      transform: translateX(0);
    }

    .header {
      height: 25px;
      padding: 15px 10px 10px 10px;
      font-size: 1.1em;
      text-align: center;
    }

    .entrywrapper{
      padding: 5px;
    }
  }
}
