@import "src/styles.scss";


.vistoggle{
  cursor: pointer;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1399;
  transform: rotate(0deg);
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;

  .linewrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translate(25%, calc(50% - 6px / 2 ));

    .line1, .line2 {
      transition: background-color .3s,  transform .3s;
      position: absolute;
      width: 30px;
      height: 6px;
      top: 0;
      left: 0;
      background-color: $color-button-element;
    }
    .line2 {
      transform: rotate(90deg);
    }
    &.active {
      .line2 {
        transform: rotate(180deg);
      }
      .line1, .line2{
        background-color: white;
      }
    }
  }
}

.coolthing{
  transition: transform .3s, opacity .2s;
  width: 200px;
  height: 200px;
  transform: rotate(45deg) translate(85%, 0%);
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  background-color: white;
  opacity: .8;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  &.active{
    transform: rotate(90deg) translate(120%, 0%);
    opacity: 0 !important;
  }
}
.vistoggle:hover +.coolthing  {
  opacity: 1;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
}

.fullscreenwrapper{
  z-index: 1100;
  background-color: $color-background-light;
  width: calc(100vw - 40px);
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px;
  .header{
    font-size: 1.1em;

  }
  .content{
    font-family: Roboto;
    color: white;
  }
}

.formelem{

  input, .add, .discard{
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: $color-light-gray;
    color: white;

      font-size: 1.1em;
      height: 40px;

  }
  input{
    width: 100%;
    padding-left: 5px;
  }
  &.buttons {
    width: calc(100vw - 40px);
    text-align: right;
    .add, .discard{
      transition: box-shadow .2s, border-radius .2s;
      margin: 5px;
      width: 120px;
      text-align: center;
      display: inline-block;
      line-height: 40px;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 0;
      &:hover{
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
        border-radius: 3px;
      }
    }
    .add{
      margin-right: 0;
    }
    .discard{
      background: none;

    }

  }


}
