<div class="vistoggle" (click)="test()">
  <div class="linewrapper"
       [ngClass]="{'active': (visibility === 'visible')}"

  >
    <div class="line1"></div>
    <div class="line2"></div>
  </div>

</div>
<div class="coolthing"
     [ngClass]="{'active': (visibility === 'visible')}"
>

</div>

<div [@visibility]="visibility"
     class="fullscreenwrapper"
>
  <div class="content">

    <div class="form">

      <div class="formelem">
        <input type="text" name="bezeichnung">
      </div>

      <div class="formelem">
        <input type="text" name="urlText">
      </div>

      <div class="formelem buttons">
        <div class="discard" (click)="cancel()">Abbrechen</div>
        <div class="add" (click)="add()">Hinzufügen</div>
      </div>


    </div>


  </div>


</div>
