<div class="vistoggle" (click)="test()">
  <div class="linewrapper"
       [ngClass]="{'active': (visibility === 'visible')}"

  >
    <div class="line1"></div>
    <div class="line2"></div>
  </div>

</div>
<div class="coolthing"
     [ngClass]="{'active': (visibility === 'visible')}"
>

</div>

<div [@visibility]="visibility"
     class="fullscreenwrapper"
>
  <div class="content">
    <div class="form">
      <div class="header">
        Element hinzufügen
      </div>
      <div class="formelem">
        <input
          #bezeichnung
          type="text"
          name="bezeichnung"
          placeholder="Bezeichnung"
        >
      </div>

      <div class="formelem">
        <input
          #url
          type="text"
          name="urlText"
          placeholder="URL"
        >
      </div>
      <div class="formelem">
        <input
          #paragraphen
          type="text"
          name="paragraphen"
          placeholder="Paragraphen (optional)"
        >
      </div>

      <div class="formelem buttons">
        <button class="discard" (click)="cancel()">Abbrechen</button>
        <button class="add" (click)="add()">Hinzufügen</button>
      </div>

    </div>
  </div>


</div>
