<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


<app-popup></app-popup>

<app-main-view
[blur]="vms.viewModel.addURLOpen"
>

  <app-maincontent
    *ngFor="let entry of navbarEntrys"
    [header]="entry.name"
    [subheader]="entry.paragraphen"></app-maincontent>



  <app-navbar
    header="Elemente"
  >

    <app-navbarentry
      *ngFor="let entry of navbarEntrys"
      [header]="entry.name"
    ></app-navbarentry>

  </app-navbar>



</app-main-view>



