/* You can add global styles to this file, and also import other style files */
$color-light-gray: rgba(100,100,100,.7);
$color-mid-gray: #999;
$color-background-light: rgba(0 , 0, 0, .7);
$color-background-light-transparent: rgba(255 , 255, 255, .7);
$font-light: white;
$font-dark: black;
