/* You can add global styles to this file, and also import other style files */
$color-light-gray: rgba(100,100,100,.7);
$color-mid-gray: #999;
$color-background-light: rgba(50 , 50, 50, .9);
$color-background-light-transparent: rgba(255 , 255, 255, .3);
$font-light: white;
$font-dark: black;
$color-button-element: #555;

$width-desktop-min: 769px;
$width-tablet-max: 768px;
$width-phone-max: 480px;
